/node_modules
/public/hot
/public/student_pic/*
/public/user_pic/*
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor/*
/storage/*.key
/storage/*.index
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
